/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(15, 16, 16);
        }
        
        .container{
            position: relative;
            top: 20vw;
        }

        h1{
            text-align: center;
            color: white;
           
        }
        h3{ 
            text-align: center;
            color: yellow;
        }
        
        .Tolls{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            position: relative;
        z-index: 1;
            top: 10px;
        }
        
        .MTA{
           border: 2px solid white;
           border-radius: 10px;
           background-color: black;
           color: white;
           margin-bottom: 20px;
           padding: 20px;
        }
        
        .MTA:hover{
            border: 2px solid red;
        }
        
        
        
        
        .Port-Authority{
            border: 2px solid white;
            background-color: blue;
            color: white;
            border-radius: 10px;
            padding: 25px;
        }
        
        .Port-Authority:hover{
            border: 2px solid red;
        }
        
        a{
            text-decoration: none;
        }
        
   



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: none;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        display: none;
    }

}