/* Extra small devices (phones, 600px and dowv cn) */
@media only screen and (max-width: 600px) {
    body{
        background-color: rgb(0, 77, 100);

    }

    h1{
        text-align: center;
    }
    h3 a{
        color: rgb(255, 255, 255);
    }
    .fa-solid {
        padding-left: 20px;
    }




    .mta{
        position: relative;
        text-align: center;
    }

    ul li{
        position: relative;
        list-style-type: none;
        text-align: center;
        text-transform:uppercase;
    }

    #links:hover{
        color: rgb(31, 7, 167);
    }
    .fa-circle-left{
        color: white;
        position: relative;
        top: 10px;
        font-size: 1.4em;
    }
    .fa-circle-left:hover{
        color:rgb(31, 7, 167); ;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        display: none;
    }

}