/* Extra small devices (phones, 600px and dowv cn) */
@media only screen and (max-width: 600px) {
      body{ 
         background-color: rgb(105, 188, 239);

        }

        #background{
            position: fixed;
            width: 100%;
            height: auto;
            z-index: -1;
            bottom: 10%;
        }

            /* Bridges */
        h1{
            text-align: center;
            font-size: 3em;
            color: blue;
            text-shadow: 2px 2px 1px white;
        }
        .bridges{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-size: 1.2em;
            background-color: rgba(44, 47, 175, 0.441);
            text-align: center;

        }

        .bridges h2{
            text-align: center;
            color: rgb(0, 0, 0);
            font-size: 2em;
            text-shadow: 2px 2px 4px white;

        }


        /* Tunnels */

        .Tunnels{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-size: 1.2em;
            background-color: rgba(44, 47, 175, 0.441);
            text-align: center;
        }
        .Tunnels h2{
            text-align: center;
            color: rgb(0, 0, 0);
            font-size: 2em;
            text-shadow: 2px 2px 4px white;
        }


            /* LINK */
        
        a{
            text-decoration: none;
            cursor: pointer;
            color: rgb(255, 255, 255);
            font-size:  1.2em;
        }
        a:hover{
            cursor: pointer;
            color: blue;

        }

        /* TOll PRICE */
        #warning{
            color: rgb(255, 0, 0);
            font-size: 0.5em;
            text-shadow: 2px 2px 4px black;

        }
        #price{
            color: rgb(0, 255, 0);
            text-align: center;
            border: 1px solid rgb(113, 113, 113);
            background-color: rgba(0, 0, 0, 0.552);

        }

 
        #line{
            border: 1px solid rgba(0, 0, 0, 0.469);
        }

        .fa-circle-left{
            position: absolute;
            float: left;
            color: white;
            font-size: 2em;
            left: 5%;
        }
        .fa-circle-left:hover{
            color: rgb(0, 30, 255);
            cursor: pointer;
        }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        display: none;
    }

}