/* Extra small devices (phones, 600px and dowv cn) */
@media only screen and (max-width: 600px) {
      body{ 
         background-color: rgba(0, 0, 0, 0.783);
        }

        h1{
            text-align: center;
            position: relative;
            display: inline-flex;
            left: 10vw;
            top: 5vw;
            font-size: 3em;
            color: rgb(23, 23, 219);
            text-shadow: 1px 1px 2px rgb(235, 235, 235);
        }


        .fa-circle-left{
            position: fixed;
            float: left;
            color: rgba(27, 25, 25, 0.697);
            font-size: 2em;
            left: 2vw;
        }
        .fa-circle-left:hover{
            color: rgba(0, 30, 255, 0.844);
            cursor: pointer;
            text-shadow: 1px 1px 3px black;
        }

        h2{
            text-align: center;
            font-size: 3em;
            color: rgb(0, 0, 0);
            text-shadow: -1px 1px 3px white;
        }
        #warning{
            font-size: 1.4em;
            color: rgba(212, 33, 33, 0.831);
            font-style: italic;
            font-family: 'Courier New', Courier, monospace;
            text-decoration: underline;
            font-weight: bolder;
            position: relative;
            display: inline-flex;
            text-align: center;
            left: 20%;
        }

        .bridges{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1em;
        }

        .Tunnels{
            display: flex;
            flex-direction: column;
            align-items: center;
            bottom: 0;
        }
        h3{
            text-align: center;
            position: relative;
            bottom: 10vw;
            
        }
        p{
            text-align: center;
            position: relative;
            bottom: 13vw;
            font-size: 2em;
            bottom: 15vw;
            color: rgb(18, 86, 202); 
            text-shadow: 1px 1px 3px black;
            font-weight: bolder;
               }

        h3 a{
            text-decoration: none;
            font-size: 1.7em;
            color: rgb(206, 202, 202);
            text-shadow: 1px 1px 4px black;
        }
        h3 a:hover{
            color: aqua;
            cursor: pointer;
        }


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        display: none;
    }

}